<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<bean id="window" class="com.example.Window" scope="prototype" lazy-init="true" />
	
	<bean id="windowGenerator" class="com.example.WindowGenerator">
		<lookup-method name="createNewWindow" bean="window" />
	</bean>
</beans>